.green-glow {
  border: 5px solid #4dcc7d;
  box-shadow: 0 0 15px #31b43a;
}

.red-glow {
  border: 5px solid #fc121b;
  box-shadow: 0 0 15px #d01115;
}

.gray-glow {
  border: 5px solid #f6e640;
  box-shadow: 0 0 15px #F6CA25;
}
