.btn {
  background-color: transparent;
  border: 1px solid #da513d;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  color: #000;
  font-weight: bold;
  display: inline-block;
  font-size: 1rem;
  margin: 6px;
  overflow: hidden;
  position: relative;
  padding: 0.7rem 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  white-space: normal!important;
  word-wrap: break-word;
  cursor: pointer;

  &:hover {
    color: #fefefe;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  }
}

.btn-out {
  -webkit-transition: color 300ms;
  transition: color 300ms;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #da513d;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 300ms ease-out;
    transition: 300ms ease-out;
  }
  &:hover:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
