.choices {
  margin: 50px 0;
  text-align: center;

  .choice {
    border: 4px solid white;
    border-radius: 50%;
    color: white;
    margin: 0 20px;
    padding: 10px;
    display: inline-block;
    transition: all 0.3s ease;

    &:hover {
      cursor: pointer;
      background: #24272E;
    }
  }
}
