.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  height: 740px;
  margin: 0 auto;
  color: $main-white-color;
  font-size: 24px;
  line-height: 36px;

  &-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-block {
    display: block;
    margin-top: 50px;
  }

  &-btn {
    color: $main-red-color;
  }
}
