.score-board {
  position: relative;
  margin: 20px auto;
  border: 3px solid white;
  border-radius: 4px;
  text-align: center;
  width: 400px;
  color: white;
  font-size: 46px;
  padding: 15px 20px;
  font-family: Asap, sans-serif;

  &-badge {
    background: #E25840;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: Asap, sans-serif;
  }

  &-badge-user {
    position: absolute;
    top: 30px;
    left: -25px;
  }

  &-badge-computer {
    position: absolute;
    top: 30px;
    right: -30px;
  }
}
